<div class="field is-grouped">
  <p class="control is-expanded has-icons-left">
    <input class="input" type="text" placeholder="Search..." />
    <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>
  </p>
  <div class="control">
    <div class="select is-link">
      <select>
        <option>Name</option>
        <option>City</option>
        <option>State</option>
        <option>ZipCode</option>
      </select>
    </div>
  </div>
  <p class="control">
    <a class="button is-link">
      Search
    </a>
  </p>
  <p class="control">
    <a class="button is-primary" href="/users/reports">
      Create New Report
    </a>
  </p>
</div>
