<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Reported Stores
      </a>

      <a class="navbar-item">
        Documentation
      </a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item">
        <strong>My Account</strong>
      </a>
    </div>
  </div>
</nav>
