<section class="hero">
  {{>userNavbar}}
</section>

<form action="/users/reports" enctype="multipart/form-data" method="POST">
  <div class="columns is-centered">
    <div class="column is-one-third">
      <section class="section">
        <div class="container">
          <h1 class="title">Create New Report</h1>
          <div class="field">
            <label class="label">Store Name</label>
            <div class="control">
              <input
                class="input"
                type="text"
                name="storeName"
                placeholder="Name"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Address</label>
            <div class="control">
              <input
                class="input"
                type="text"
                name="address"
                placeholder="Address"
              />
            </div>
          </div>

          <div class="columns field is-grouped">
            <div class="column control">
              <label class="label">ZipCode</label>
              <input
                class="input"
                type="text"
                name="zipCode"
                placeholder="ZipCode"
              />
            </div>
            <div class="column control">
              <label class="label">City</label>
              <input class="input" type="text" name="city" placeholder="City" />
            </div>
            {{> stateDropdown}}
          </div>

          <div class="columns field is-grouped">
            <div class="column control is-two-thirds">
              <label class="label">Reported Item</label>
              <input class="input" type="text" name="item" placeholder="Item" />
            </div>
            <div class="column control">
              <label class="label">Upload Image</label>

              <div class="file">
                <label class="file-label">
                  <input
                    class="file-input"
                    type="file"
                    name="reportedItemImg"
                  />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                </label>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <button class="button is-link is-fullwidth" input="submit">
                Submit
              </button>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <a
                class="button is-danger is-light is-fullwidth"
                href="/price-chart"
              >
                Cancel
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</form>
