<section class="hero is-link is-fullheight">
  {{>navbar}}
  <div class="hero-body columns">
    <div class="container column">
      <h1 class="title">
        {{ title }}
      </h1>
      <h2 class="subtitle">
        {{ subtitle }} <br />
        {{ tagline }}
      </h2>
    </div>
    <div class="column is-one-quarter">
      <i class="fas fa-piggy-bank fa-flip-horizontal icon is-large"></i>
    </div>
  </div>
  {{>footer}}
</section>
