<section class="hero is-medium">
  <div class="hero-body">
    <section class="section">
      <div class="title has-text-centered has-text-link">
        Pandemic Price Checker
      </div>
    </section>
    <div class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="card column is-narrow">
            <div class="card-content">
              <form class="content" method="POST">
                <div class="field">
                  <p>Sign in to your account</p>
                </div>
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left has-icons-right">
                    <input name="loginEmail" class="input" type="email" />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Password</label>
                  <div class="control has-icons-left has-icons-right">
                    <input name="loginPassword" class="input" type="password" />
                    <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                  </div>
                </div>
                <div class="has-text-centered">
                  <button class="button is-link" input="submit" type="submit">
                    Log In
                  </button>
                </div>
              </form>
              <a>
                <p class="subtitle is-6 has-text-centered has-text-link">
                  Forgot your password?
                </p>
              </a>
            </div>
          </div>
        </div>
        <p class="has-text-centered">
          Don't have an account?
          <span class="has-text-link">
            <a class="is-link" href="signup">
              Sign up.
            </a></span
          >
        </p>
      </div>
    </div>
  </div>
</section>
