<section class="hero">
  {{>userNavbar}}
</section>
<section class="section">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Reported Stores
      </h1>
    </div>
  </div>
  <div class="container">
    {{>filter}}
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>ZipCode</th>
          <th>Store Type</th>
          <th>
            <abbr
              title="This column represents the price-gouged item for a particular store."
              >Item</abbr
            >
          </th>
          <th>Item Photo:</th>
          <th>Submitted By:</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>ZipCode</th>
          <th>Store Type</th>
          <th>
            <abbr
              title="This column represents the price-gouged item for a particular store."
              >Item</abbr
            >
          </th>
          <th>Item Photo</th>
          <th>Submitted By</th>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td>
            <a
              href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
              title="2016–17 UEFA Champions League"
              >Billy's Hardware Store</a
            >
          </td>
          <td>2300 Hills Hollow</td>
          <td>Houston</td>
          <td>TX</td>
          <td>77077</td>
          <td>Tools</td>
          <td>Sanitizer</td>
          <td>PHOTO HERE</td>
          <td>ji2coolPRO</td>
        </tr>
        <tr>
          <td>
            <a
              href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
              title="2016–17 UEFA Champions League"
              >Billy's Hardware Store</a
            >
          </td>
          <td>2300 Hills Hollow</td>
          <td>Houston</td>
          <td>TX</td>
          <td>77077</td>
          <td>Tools</td>
          <td>Sanitizer</td>
          <td>PHOTO HERE</td>
          <td>ji2coolPRO</td>
        </tr>
        <tr>
          <td>
            <a
              href="https://en.wikipedia.org/wiki/2016%E2%80%9317_UEFA_Champions_League#Group_stage"
              title="2016–17 UEFA Champions League"
              >Billy's Hardware Store</a
            >
          </td>
          <td>2300 Hills Hollow</td>
          <td>Houston</td>
          <td>TX</td>
          <td>77077</td>
          <td>Tools</td>
          <td>Sanitizer</td>
          <td>PHOTO HERE</td>
          <td>ji2coolPRO</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
