<section class="hero is-medium">
  <div class="hero-body">
    <section class="section">
      <div class="title has-text-centered has-text-link">
        Pandemic Price Checker
      </div>
    </section>
    <div class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="card column is-narrow">
            <div class="card-content">
              <form class="content" method="POST">
                <div class="field">
                  <p class="subtitle">Create your free account</p>
                </div>
                <p>
                  Already have an account?
                  <a class="has-text-link" href="login">
                    Sign in.
                  </a>
                </p>
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left has-icons-right">
                    <input name="signupEmail" class="input" type="email" />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Full name</label>
                  <div class="control has-icons-left has-icons-right">
                    <input name="signupName" class="input" type="text" />
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Password</label>
                  <div class="control has-icons-left has-icons-right">
                    <input
                      name="signupPassword"
                      class="input"
                      type="password"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Confirm password</label>
                  <div class="control has-icons-left has-icons-right">
                    <input
                      name="signupConfirmPassword"
                      class="input"
                      type="password"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-key"></i>
                    </span>
                  </div>
                </div>
                <div>
                  {{#if err}}
                  <h6 class="has-text-danger">{{ err }}</h6>
                  {{/if}}
                </div>
                <div class="has-text-centered">
                  <button
                    class="button is-link is-fullwidth"
                    input="submit"
                    type="submit"
                  >
                    Create your account
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
